@import "../../sass/variable.scss";
@import "../../sass/typography.scss";

.meals {
    grid-column: full-start / full-end;
    margin: 4rem 0 0;
    display: grid;

    @media only screen and (max-width: $bp-small) {
        margin: 1.5rem 0 0;
    }

    &__heading-2 {
        justify-self: center;
        margin: 0rem 0 2rem;
    }

    &__paragraph-1 {
        width: 75%;
        margin: 5rem auto;

        @media only screen and (max-width: $bp-small) { 
            width: 90%;
            margin: 2rem auto;
        }
    }
}