@import "../../sass/variable.scss";
@import "../../sass/typography.scss";


.headerKitchen {
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.7)), url(../../assets/hero-kitchen.jpg);
    background-position: center;
    background-size: cover;
    grid-column: full-start / full-end;
    padding: 3rem 5rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;

    // &__navigation {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: start; 

    //     @media only screen and (max-width: $bp-very-small) { 
    //         display: grid;
    //         justify-self: center;
    //     }
    // }

    // &__img {
    //     height: 6rem;
    //     justify-self: start;

    //     @media only screen and (max-width: $bp-very-small) { 
    //         justify-items: center;     
    //     }
    // }

    // &__nav {
    //     list-style: none;
        
    //     li {
    //         padding: 1rem 2rem;
    //         display: inline-block;
    //         letter-spacing: .2rem; 
    //     }

    //     a {
    //         text-decoration: none;
    //         color: $color-grey-light-1;
    //         font-size: 1.7rem;
    //         text-transform: uppercase;
    //         outline: none;
    //         transition: all .3s;
    //         display: block;
    //         transform: translateY(0);
    //     }

    //     a:hover {
    //         border-bottom: .1rem solid $color-primary;
    //         transform: translateY(-0.2rem);
    //     }

    //     a:active {
    //         transform: translateY(0rem);
    //     }

    //     @media only screen and (max-width: $bp-medium) {   
    //         display: none;
    //     }
    // }
}