// COLOR VARIABLES
$color-primary: #ff6600;
$color-primary-light: #ffb900;
$color-primary-dark: #cc5200;

$color-secondary: #101d2c;

$color-green-dark: #02610a;
$color-green-light: #1fff2a;
$color-blue-dark: #12378d;
$color-blue-light: #29b0e6;
$color-pink-dark: #8d1944;
$color-pink-light: #fa2f62;



$color-grey-light-1: #f3f3f3;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
$font-social: 'Poppins', sans-serif;


// RESPONSIVE BREAKPONITS
$bp-larg: 81.25em;     //  1300px/16px = em
$bp-medium: 62.5em;     //  1000px/16px = em
$bp-small: 50em;     //  800px/16px = em
$bp-very-small: 37.5em;     //  600px/16px = em
$bp-thin: 20.625em;     //  330px/16px = em
$bp-very-thin: 18.75em;     //  300px/16px = em 