@import "../../sass/variable.scss";
@import "../../sass/typography.scss";


.kitchenCollection {
    grid-column: center-start / center-end;
    margin: 8rem 0; 
    display: grid;

    @media only screen and (max-width: $bp-medium) { 
        margin: 4rem 0;
    }

    &__heading-2 {
        justify-self: center; 
        margin: 0 0 3rem;

        @media only screen and (max-width: $bp-medium) { 
            margin: 0 0 2rem;
        }
    }
}