@import "../../sass/variable.scss";
@import "../../sass/typography.scss";

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-medium) { 
        display: none;
    }

    // @media only screen and (max-width: $bp-very-small) {
    //     display: grid;
    //     justify-self: center;
    // }

    &__img {
        height: 5rem;
        justify-self: start;
        cursor: pointer;
        margin-right: auto;

        // @media only screen and (max-width: $bp-medium) { 
        //     display: none;
        // }
    }
    
    &__nav {
        list-style: none;

        // @media only screen and (max-width: $bp-medium) { 
        //     display: none;
        // }
        
        li {
            padding: 1rem 2rem;
            display: inline-block;
            letter-spacing: .2rem;
        }

        a {
            display: block;
            text-decoration: none;
            color: $color-grey-light-1;
            font-size: 1.6rem;
            text-transform: uppercase;
            outline: none;
            transition: all .3s;
            transform: translateY(0);
            border-bottom: .1rem solid transparent;
        }

        a:hover {
            border-bottom: .1rem solid $color-primary;
            transform: translateY(-0.2rem);
        }

        a:active {
            transform: translateY(.1rem);
        }
    }

    &__icon {
        @media only screen and (max-width: $bp-medium) { 
            display: none;
        }
    }

    &__sign {
        width: 90%;

        a {
            color: rgb(41, 41, 41);
        }

        .navigation__icon {
            svg {
                fill: rgb(41, 41, 41);
            }

            span {
                color: rgb(41, 41, 41);
            }
        }
    }

    &__error {
        a {
            color: rgb(41, 41, 41);
        }

        .navigation__icon {
            svg {
                fill: rgb(41, 41, 41);
            }

            span {
                color: rgb(41, 41, 41);
            }
        }
    }
}


