@import "../../sass/variable.scss";
@import "../../sass/typography.scss";


.checkout-container { 
    display: grid;
    grid-template-rows: 50vh min-content; 
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(9, [col-start] minmax(4rem, 11rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; 

    @media only screen and (max-width: $bp-medium) { 
        grid-template-rows: 50vh min-content;
    }
}