@import "../../sass/variable.scss";
@import "../../sass/typography.scss";

.header {
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.7)), url(../../assets/hero.jpg);
    background-position: center;
    background-size: cover;
    grid-column: full-start / col-end 8;
    padding: 3rem 5rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;

    @media only screen and (max-width: $bp-larg) { 
        grid-column: full-start / col-end 7;   
    }

    @media only screen and (max-width: $bp-small) { 
        grid-column: full-start / full-end;   
    }

    &__heading-1 {
        align-self: start;   
          
        @media only screen and (max-width: $bp-very-small) { 
            justify-self: center;  
        }
    }

    &__heading-3 {
        align-self: end;

        @media only screen and (max-width: $bp-very-small) { 
            justify-self: center;  
        }
    }

    &__seenon-text {
        font-size: 1.5rem;
        color: $color-grey-light-2;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-gap: 2rem;
        align-items: center;

        &::before,
        &::after {
            content: "";
            display: block;
            height: .1rem;
            background-color: currentColor;
        }
    }

    &__btn {
        justify-self: start;
        align-self: start;
        
        @media only screen and (max-width: $bp-very-small) { 
            justify-self: center;   
        }
    }
}