@import "../../sass/variable.scss";
@import "../../sass/typography.scss";


.signUpContainer { 
    background-color: $color-grey-light-1;
    height: 100vh;
    
    display: grid;
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(9, [col-start] minmax(4rem, 11rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
    grid-template-rows: repeat(4, 25vh);

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: calc(45vh - 5.5rem) 75vh;
    }
}

.signUp {
    grid-column: 5 / -1;  
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 25vh 5vh 50vh 20vh;
    justify-items: center;
    align-content: center;
    grid-row-gap: 2rem; 
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        grid-template-rows: 20vh 50vh 20vh;  
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 20vh 40vh 20vh;  
    }
    
    &__heading-3 {
        font-size: 2.5rem; 
    }
}

.formSignUp {
    display: grid; 
    grid-row-gap: 1rem;

    &__btnSimple {
        justify-self: start;
        margin-top: 1.5rem; 

        @media only screen and (max-width: $bp-small) {
            justify-self: unset; 
        }
    }
}