@import "../../sass/variable.scss";
@import "../../sass/typography.scss";


.arrow {
    display: flex;
    position: relative;

    &__con {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        background-color: $color-primary;
        padding: 1.5rem;
        cursor: pointer;
        z-index: 1000;
        border-radius: 5rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.3);
        transform: scale(.9git );
        animation: fadeIn 0.3s;
        transition: all .3s;

        @media only screen and (max-width: $bp-medium) {
            bottom: 1rem;
            right: 1rem;
        }

        &:hover {
            background-color: #1fff2a;
            transform: scale(1);

            .arrow__icon {
                fill: rgb(255, 255, 255);
            }
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-grey-light-1;
        transition: all .3s;

        @media only screen and (max-width: $bp-medium) {
            width: 1.7rem;
            height: 1.7rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 1.3rem;
            height: 1.3rem;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        50% {
            opacity: .5;
        }
    
        100% {
            opacity: 1;
        }
    }
}

