@import "../../sass/variable.scss";
@import "../../sass/typography.scss";


.kitchBtn {
    font-size: 1.5rem;  
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom left,rgba($color-blue-dark, 0.7), rgba($color-blue-light, 0.7));    
    padding: 1.3rem 3rem;
    border: none;
    outline: none;
    border-radius: .3rem;
    width: 94%; 
    background-color: transparent;
    display: block;
    margin: 0 auto;
    transition: all .3s;

    @media only screen and (max-width: $bp-small) {
        font-size: 1.4rem;
        padding: 1.6rem 2.9rem;
    }

    &:hover {
        cursor: pointer; 
        background-image: linear-gradient(to bottom left, rgba($color-pink-light, 0.6), rgba($color-pink-dark, 0.6));
    }

    &:active {
        background-image: linear-gradient(to bottom left,rgba(11, 36, 95, 0.7), rgba(27, 121, 158, 0.7));
    }

    &.ItemKitchen__kitchBtn {
        transform: translateY(-6rem) translateX(0rem); 
    }
}